/* universal  styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  main body container  styling */
.container {
  width: 90vw;
  margin: 2rem;
  background-color: aliceblue;
  border-radius: 8px;
}

/* body list div styling */
.program {
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */

  /* width: 40vw; */
}

/* headings and pagraph styling */
h1 {
  margin-top: 2rem;
}
p {
  margin-bottom: 2rem;
}
h1,
p {
  text-align: center;
  padding: 0.3rem;
}
h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h3 {
  margin-left: -3rem;
  padding-bottom: 1rem;
}
